body {
  background-color: black;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") rgba(21, 22, 24, 0.802);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: 100%;
  width: 50%;
}

.app {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.card {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

.card:hover {
  background-color: rgba(20, 19, 19, 0.473);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
}

.song-info p{
  margin-top: -10px;
}

.card button {
  position: absolute;
  right: 20px;
  border: none;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  color: white;
}
