body {
  background: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") rgba(21, 22, 24, 0.802);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: 100%;
}

.app {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 20%;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}